.nav {
  font-size: 1.25rem;
  margin-top: 0;
	text-align: right;
}

.nav__link {
  color: white;
  font-weight: bold;
  margin-left: 0.75rem;
  margin-top: 0;
  padding: 0.25rem;
  text-decoration: none;
}

.nav__link--home {
  font-size: 2rem;
  margin-left: -0.25rem;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  background: white;
  color: rebeccapurple;
}